


    .container {
        display: grid;
        grid-template-rows: repeat(3, 200px);
        grid-template-columns: 1fr 3fr 1fr;
        grid-auto-rows: auto;
        margin: none;
        
       
       
    }
.item-1 {
   /* grid-row: 1 / 4;
   grid-column: 1 / 2; */
   grid-area: 1 / 1 / 4 / 2;
   background-color: rgb(245, 243, 246);
   display: flex;
   align-items: flex-end;
  
   
}


.item-2 {
 grid-area: 1 / 2 / 2/ 3;
 background-color: rgb(245, 243, 246);
padding-top: 10px;

 }
 
 .item-3 {
    grid-area: 1 / 3 / 4/ 3;
    background-color: rgb(245, 243, 246);
}

.item-4 {
    grid-area: 2/ 2 / 3/ 3;
    background-color: rgb(245, 243, 246);
    display: flex;
    justify-content: center;
 
}
.item-5 {
    grid-area: 3 / 2/ 4/ 3;
    background-color: rgb(245, 243, 246);
    padding-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  
}

/* logo fashion iny */
.a-1 {
    font-family: 'Rubik';
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

/* btn sign up iny */
.a-2 {
    font-family: 'Rubik';
    z-index: 1;
    background-color: rgb(245, 243, 246);
    border: solid 1px;
    border-radius: 15px;
    color: rgb(17, 17, 17);
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
}

/* 01 INY*/
.a-3 {
    
    font-family: 'Rubik';
    z-index: 1;
    background-color: rgb(245, 243, 246);
    border: solid 1px;
    border-radius: 15px;
    color: rgb(17, 17, 17);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    transform: scale(0.45,0.45);
    position: absolute;
    top: -2px;
    left: 157px;
}
/* 02 INY*/
.a-4 {
    
    font-family: 'Rubik';
    z-index: 1;
    background-color: rgb(17, 17, 17);
    border: solid 1px;
    border-radius: 15px;
    color: rgb(245, 243, 246);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    transform: scale(0.45,0.45);
    position: absolute;
    top: -2px;
    left: 180px;
}

/* div nav misy logo sy sign up beachhh */
.nav {
    display: flex;
    justify-content: space-between;
}

/* btn help iny */
.footer-1 {
    display: flex;
    justify-content: flex-end;
    font-family: 'Rubik';
    z-index: 1;
    background-color: rgb(245, 243, 246);
    border: solid 1px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 10px;
    font-weight: 500;
 
}
/* div misy btn get started je crois*/
.start {
    
    display: flex;
    position: absolute;
    top: 400px;
    left: 570px;
    border: none ; }

  /* ibouton get started */  

/* icon bag */
.img-1 {
    display: flex;
    position: absolute;
    top: 30px;
    left: -20px;  
    transform: rotate(25deg);
    filter: blur(3px);
}   
/* icon bag 2 */
.img-2 {
    display: flex;
    position: absolute;
    top: -200px;
    left: -300px;  
    transform: rotate(50deg);
    filter: blur(3px);
}   
/* icon bag 3*/    
.img-3 {
    display: flex;
    position: absolute;
    top: -200px;
    left: 300px;  
    transform: rotate(-45deg);
    filter: blur(3px);
}   

/* LEFT ARROW */
.img-4 {
    display: flex;
    position: absolute;
    top: 5px;
    left: 150px;  
    cursor: pointer;
   
}  
/* RIGTH ARROW */
.img-5 {
    display: flex;
    position: absolute;
    top: 5px;
    left: 210px;  
   cursor: pointer;
   
}  
 
/* GIRL IN LANDING PAGE */
.img-0 {

    display: flex;
    position: absolute;
    top: 210px;
    left: 250px;
    transform: scaleX(-1);
    filter: blur(3px);
    
}


.p {
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 25px;
    z-index: 1;
    color: black;
    display: flex;
    justify-content: center;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 15px;
    box-sizing: border-box;
    
}
html {
    background-color: rgb(245, 243, 246);
}



button {
    z-index: 1;
    background-color: rgb(17, 17, 17);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 21px;
    text-align: center;
    width: 70%;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    left: 33px;
}

/* input[type=submit]:hover {
    background-color: #bbff00;
} */


form {
    color: rgb(31, 31, 31);
    display: grid;
    justify-content: center;
    /* align-items: center; */
    /* justify-items: start; */
    position: relative;
    top: -83px;
    left: 4px;
    transform: scale(0.7, 0.7);
}
.login {
    font-family: 'Rubik';
    border: solid 2px;
    border-radius: 10px;
    /* display: flex; */
    position: absolute;
    top: 210px;
    left: 582px;
    width: 240px;
    height: 267px;

}

.things {
    position: relative;
    left: 3px;
    top: 81px; 
}



/* Media query for devices with a max width of 1024px (e.g., tablets) */
@media (max-width: 1024px) {
    .login {
        font-family: 'Rubik';
        border: solid 2px;
        border-radius: 10px;
        /* display: flex; */
        position: absolute;
        top: 210px;
        left: 400px;
        width: 240px;
        height: 267px;
    }

.things {
    position: relative;
    left: -156px;
    top: 81px;
}
}


/* Media query for devices with a max width of 480px (e.g., mobile phones) */
@media (max-width: 480px) {
   
    html {
        background-color:rgb(245, 243, 246);
    }
   
    img {
        display: flex
;
        position: absolute;
        top: 517px;
        left: 100px;
        transform: scaleX(1);
    }
    .start {display: none;}

    .footer-1 {
        display: flex;
        justify-content: flex-end;
        font-family: 'Rubik';
        z-index: 1;
        background-color: rgb(245, 243, 246);
        border: solid 1px;
        border-radius: 15px;
        color: rgb(0, 0, 0);
        padding: 5px 20px;
        text-align: center;
        text-decoration: none;
        /* display: inline-block; */
        font-size: 10px;
        font-weight: 500;
        position: relative;
        z-index: 20;
        left: 73px;
        top: 302px;
    }
    .things {
        position: relative;
        left: -671px;
        top: 191px;
        display: none;
    }

    .login {
        font-family: 'Rubik';
        border: solid 0px;
        border-radius: 10px;
        /* display: flex
; */
        position: absolute;
        top: 279px;
        left: 89px;
        /* width: 300px; */
        height: 301px;
        transform: scale(1.5);
    }
    
    .img-0 {
        display: flex;
        position: absolute;
        top: 517px;
        left: 100px;
        transform: scaleX(1);
        filter: blur(3px);
    }
    .a-1 {
        font-family: 'Rubik';
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 18px;
        position: relative;
        left: -65px;
    }
    .a-2 {
        font-family: 'Rubik';
        z-index: 1;
        background-color: rgb(245, 243, 246);
        border: solid 1px;
        border-radius: 15px;
        color: rgb(17, 17, 17);
        padding: 5px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        font-weight: 500;
        position: relative;
        left: 71px;
        transform: scale(1.1);
    }
}